<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>projects</title>
</head>
<body>
{% extends 'main.html' %}
{% block content %}
{% if number > 10 %}
    <p>number is greater than 10.</p>
{% elif number == 10 %}
     <p>number is equal to 10.</p>
{% else %}
    <p>number is less than 10.</p>
 {% endif %}
<h1>text analysis</h1>
Text analysis (TA) is a machine learning technique used to automatically extract valuable insights from unstructured text data.<br>
Companies use text analysis tools to quickly digest online data and documents, and transform them into actionable insights.
{% endblock content %}
</body>
</html>